/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background: url('./assets/backgroundburguer.png') center/cover no-repeat;
}

header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a, .selectButtons button {
    font-size: 1.1rem;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

a:hover, .footer-section ul li a:hover {
    color: #8133ff;
    font-weight: bolder;
}

nav img {
    height: 25vh;
}

nav h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 1%;
}

.selectButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.selectButtons button {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    background-color: #79cb15;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.selectButtons button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.selectButtons button:active {
    opacity: 0.6;
}

.marketText {
    margin: 3% auto;
    width: 80vw;
}

.marketText h1, .itemCart h1 {
    font-size: 2.5rem;
    color: #8133ff;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin: 20px 0;
    text-align: center;
}

.marketText p, .marketText h2, .contact-info p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin: 10px 0;
    padding: 0 10px;
}

.marketText h2, .itemCart h2 {
    font-size: 1.8rem;
    color: #79cb15;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    margin: 15px 0;
}

/* Estilos para a lista de itens */
.items {
    display: grid;
    grid-template-columns:  200px 200px 200px;
    gap: 50px;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 5%;
}

.items li {
    border: 2px solid #8133ff;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.items li img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}
.items li:hover {
    opacity: .6;
    cursor: pointer;
    transform: translateY(-1.5%);
}

.items .item-price {
    font-weight: bolder;
    color: #79cb15;
}

/* Estilos do carrinho de compras */
.itemCart {
    max-width: 90vw;
    margin: 5%;
    background-color: #0e0e0ec5;
    border: 2px solid #8133ff;
    border-radius: 20px;
    padding: 20px;
}
.itemCart p{
font-size: 1.2rem;
color: #555;
line-height: 1.8;
margin: 10px 0;

}

.itemCart button {
    background-color: #8133ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}


.cart-actions {
    display: flex;
    gap: 10px;
}

.cart-item button {
    background-color: #8133ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos de contato */
.contact-form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0e0e0e;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #79cb15;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
}

.contact-form button {
    background-color: #79cb15;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #68b113;
}

/* Informações de Contato */
.contact-info {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.contact-info h2 {
    font-size: 2rem;
    color: #79cb15;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
}

.contact-info i {
    color: #79cb15;
    margin-right: 10px;
}

/* Rodapé */
footer {
    background-color: #0e0e0e;
    color: white;
    padding: 40px 0;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.3rem;
    color: #79cb15;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul li {
    color: #ccc;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #d2b7ff;
    font-weight: bolder;
}

.footer-section i {
    margin-right: 10px;
    color: #79cb15;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
    color: #ccc;
    font-size: 0.8rem;
}

.footer-bottom p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        background: url('./assets/burglogoback.png') center/cover no-repeat;
    }
    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .selectButtons button, .items {
        font-size: 3.5vw;
    }
    .items {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .selectButtons button {
        padding: 20px;
    }
    .items {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}
